<li>
  <%= form.label :content, content_label %>
  <%= view_hooks.post_form.content_text_area.render self, form: form, content_label: content_label do %>
      <%= render 'thredded/posts_common/form/before_content', form: form %>
      <%= form.text_area :content, {rows: 5, required: true, autofocus: !!params[:autofocus_new_post_content]} %>
      <% if @post_form %>
        <% if @post_form.post.file.attached? %>
         <%= hidden_field :delete, :file, value: false %>
         <%= shared_inline_svg "skr.svg", class: "thredded--topics--skr-icon", role: "img"  %>
         <%= link_to @post_form.post.file.filename.sanitized, main_app.url_for(@post_form.post.file), target: "_blank", id: "attachedFile" %>
         <span class="deleteFile" onclick="deleteFile( <%= @post_form.post.id %> );">&#10006;</span>
       <% end  %>
      <% end  %>
      <%= render 'thredded/posts_common/form/after_content', form: form %>
  <% end %>
</li>
<script type="text/javascript" charset="utf-8">
  function deleteFile(prm) {
    const file = document.getElementById('attachedFile');
    const to_del = document.getElementById('delete_file');
    if ( to_del.value === "false") {
      file.style = "text-decoration: line-through";
      to_del.value = "true";
    } else {
      file.style = "text-decoration: none";
      to_del.value = "false";
    }
  }
</script>
