<li>
  <%= form.label :content, content_label %>
  <%= view_hooks.post_form.content_text_area.render self, form: form, content_label: content_label do %>
      <%= render 'thredded/posts_common/form/before_content', form: form %>
      <%= form.text_area :content, {rows: 5, required: true, autofocus: !!params[:autofocus_new_post_content]} %>
      <% if @post_form %>
        <% if @post_form.post.file.attached? %>
         <%= shared_inline_svg "skr.svg", class: "thredded--topics--skr-icon", role: "img"  %>
         <%= link_to @post_form.post.file.filename.sanitized, main_app.url_for(@post_form.post.file), target: "_blank" %>
         <a href="#" >&#10006;</a>
       <% end  %>
      <% end  %>
      <%= render 'thredded/posts_common/form/after_content', form: form %>
  <% end %>
</li>
